[Unit]
Description=Cloudflare Tunnel
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=darksagae
ExecStart=/usr/local/bin/cloudflared tunnel run --url http://localhost:3002 nsb-portal
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
